[submodule "turbin3-builders-cohort-ts-prereq-task"]
	path = turbin3-builders-cohort-ts-prereq-task
	url = git@github.com:Kernlog/turbin3-builders-cohort-ts-prereq-task.git
[submodule "turbin3-builders-cohort-rs-prereq-task"]
	path = turbin3-builders-cohort-rs-prereq-task
	url = git@github.com:Kernlog/turbin3-builders-cohort-rs-prereq-task.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:Kernlog/solana-starter.git
[submodule "turbin3-vault"]
	path = turbin3-vault
	url = git@github.com:Kernlog/turbin3-vault.git
[submodule "turbin3-escrow"]
	path = turbin3-escrow
	url = git@github.com:Kernlog/turbin3-escrow.git
[submodule "turbin3-amm"]
	path = turbin3-amm
	url = git@github.com:Kernlog/turbin3-amm.git
